{% extends 'bootstrap/base.html' %}
{% block content %}
<form method="GET" action="{% url 'pegawai:pegawailist'%}">
  {{form.as_table}}
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
            Ada <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">{{jumlah}} </span> Hasil Pencarian
            <div class="table-responsive pt-3 " >
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th>Nomor</th>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Pangkat Golongan</th>
                    <th width="100px">Jabatan</th>
                    <th >Instansi</th>
                    <th>Tingkat Pendidikan</th>
                  </tr>
                </thead>
                {% for obj in object_list%}
                <tbody>
                  <tr>
                    <td>
                      {{forloop.counter}}
                    </td>
                    <td class="py-1"><a href="{% url 'pegawai:profile' obj.pk %}">
                        {{obj.nip_baru}}
                      </a>
                    </td>
                    <td>
                      {{obj.nama}}
                    </td>
                    <td>
                      ({{obj.gol}}) {{obj.gol.nama_pangkat}}
                    </a>

                    </td>
                    <td >
                        {{obj.jabatan}}                                
                      </a>
                    </td>
                    <td>
                      {% if  obj.unor_induk_bkd == None %}
                      <h0 style="color: #ff0000;">{{obj.unor_induk}}</h0>  <span>Belum Registrasi</span>
                      {% else %}
                      {{obj.unor_induk_bkd}}
                      {% endif %}
                    </td>
                    <td>
                     {{obj.tingkat_pendidikan.nama}}
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table> 
              {% include 'bootstrap/paginator.html' %}
            </div>
           
          </div>
        </div>
      </div>
{% endblock %}
